<div id="<%= dom_id(@project) %>">
    <div class="toolbar">
        <h1><%=h @project.name %></h1>
        <% if !User.current.logged? %>
        <a class="button slideup" id="infoButton" href="#login">Login</a>
        <% end %>
        <a href="#" class="back">Back</a>
    </div>
    <h2>Issues</h2>
    <ul class="rounded">
        <% @project.trackers.each do |tracker| %>
        <li class="arrow"><%= link_to tracker.name, :controller => "iphone/issues", :action => "index", :project_id => @project, :tracker_id => tracker %> <small class="counter"><%= Issue.count(:conditions => {:tracker_id => tracker.id, :project_id => @project.id}) %></small></li>
        <% end %>
    </ul>
</div>
