<div id="issues">
    <div class="toolbar">
        <h1><%=h @project.name %></h1>
        <% if !User.current.logged? %>
        <a class="button slideup" id="infoButton" href="#login">Login</a>
        <% end %>
        <a href="#" class="back">Back</a>
    </div>
    <h2>Issues &gt; </h2>
    <ul class="edgetoedge">
        <% @issues.each do |issue| %>
        <li class="arrow"><%= link_to issue.subject, :action => "show", :id => issue.id %> <small><%= issue.tracker.name %></small></li>
        <% end %>
    </ul>
</div>
